body {margin:0;padding:0;}
p,h2,h3,h1,h5,h4 {margin:0; padding:0;}
img {border:0;}

#topo_wrapper, #container_wrapper, #rodape_wrappera {
    width: 100%;
}

#topo_wrapper {
    background-color: rgb(42, 43, 44);
    box-shadow: rgba(0, 0, 0, 0.701961) 0px 0px 5px 0px;
    border-top: 0px solid rgb(42, 43, 44);
    border-bottom: 0px solid rgb(42, 43, 44);
}

#topo {
    width: 940px;
    margin:0 auto;
    height: 85px;
}

#topo .descricao_logo {
    font: normal normal normal 32px/1.1em 'open sans', sans-serif;
    color: rgb(255, 255, 255);
    float: left;
    margin-top: 30px;
    font-family: 'Bad Script', cursive;
}

#topo .cred {
    color: rgb(93,152,246);
}

#logo {
    
}

#menu {
    font-family: 'Dosis', sans-serif;
    font-size: 15px;
    float: right;
    height: 60px;
    text-align: right;
    margin-top:30px;
}


#container {
    width: 940px;
    margin: 0 auto;
}

#slider {
    margin-top:20px;
    width: 940px;
    height: 370px;
}
#slider img {
    width: 940px;
    height: 370px;
}

#bloco_inf {
    width: 980px;
    height: 280px;
    margin-top: 10px;
}
#bloco_inf p {
    color: rgb(112,100,100);
    font-size: 13px;
    margin-top:10px;
    line-height: 18px;
    font-family: 'Droid Sans', sans-serif;
}

.inf:first-child {
    margin-left:0;
}
.inf{
    width: 300px;
    float: left;
    margin-left: 15px;
}
.inf h2 {
    padding:  10px 5px;
    background: rgb(93,152,246);
    color: #FFF;
    font-family: 'Droid Sans', sans-serif;
}

.contactUs {
    background: #555658;
    float: left;
    margin-left: 35px;
    width: 290px;
    height: 220px;
}

.contactUs h2 {
    padding: 10px 5px;
    color: #FFF;
    font-family: 'Droid Sans', sans-serif;
}

.contactUs p {
    line-height: 18px !important;
    margin: 0;
    padding: 0 10px;
    float: left;
}

.tel {
    width: 100% !important;
    margin-top:10px !important;
    color:#fff !important;
}

.telNumero {
    width: 100%;
    float:left;
    font-size: 13px;
    margin-top: 0px !important;
    color: #c5c3c4 !important;
}

.desc_inf {
    color: #c5c3c4 !important;
    margin-top:-5px !important;
}

.email {
    width: 100%;
    float:left;
    color:#FFF !important;
}

.emailTo {
    width: 100%;
    float:left;
    margin-top:0 !important;
    color:#c5c3c4 !important;
}


.btn {
        margin-top: 10px;
	-moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background-color:#007dc1;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}
.btn:hover {
	background-color:#0061a7;
}
.btn:active {
	position:relative;
	top:1px;
}

.clear{
    clear: both;
}